[submodule "include/fluent/stdi"]
	path = include/fluent/stdi
	url = https://github.com/rodrigoo-r/stdi.git
[submodule "include/fluent/itoa"]
	path = include/fluent/itoa
	url = https://github.com/rodrigoo-r/itoa.git
[submodule "include/fluent/atoi"]
	path = include/fluent/atoi
	url = https://github.com/rodrigoo-r/atoi.git
[submodule "include/fluent/stdo"]
	path = include/fluent/stdo
	url = https://github.com/rodrigoo-r/stdo.git
