[submodule "include/fluent/stdi"]
	path = include/fluent/stdi
	url = https://github.com/rodrigoo-r/stdi.git
[submodule "include/fluent/itoa"]
	path = include/fluent/itoa
	url = https://github.com/rodrigoo-r/itoa.git
[submodule "include/fluent/atoi"]
	path = include/fluent/atoi
	url = https://github.com/rodrigoo-r/atoi.git
[submodule "include/fluent/stdo"]
	path = include/fluent/stdo
	url = https://github.com/rodrigoo-r/stdo.git
[submodule "include/fluent/std_bool"]
	path = include/fluent/std_bool
	url = https://github.com/rodrigoo-r/std_bool.git
[submodule "include/fluent/str_len"]
	path = include/fluent/str_len
	url = https://github.com/rodrigoo-r/str_len.git
[submodule "include/fluent/str_copy"]
	path = include/fluent/str_copy
	url = https://github.com/rodrigoo-r/str_copy.git
[submodule "include/fluent/types"]
	path = include/fluent/types
	url = https://github.com/rodrigoo-r/types.git
[submodule "include/fluent/str_comp"]
	path = include/fluent/str_comp
	url = https://github.com/rodrigoo-r/str_comp.git
[submodule "include/fluent/string_builder"]
	path = include/fluent/string_builder
	url = https://github.com/rodrigoo-r/string_builder.git
[submodule "include/fluent/vector"]
	path = include/fluent/vector
	url = https://github.com/rodrigoo-r/vector.git
[submodule "include/fluent/mutex"]
	path = include/fluent/mutex
	url = https://github.com/rodrigoo-r/mutex.git
[submodule "include/fluent/hashmap"]
	path = include/fluent/hashmap
	url = https://github.com/rodrigoo-r/hashmap.git
[submodule "include/fluent/atomic"]
	path = include/fluent/atomic
	url = https://github.com/rodrigoo-r/atomic.git
[submodule "include/fluent/optional"]
	path = include/fluent/optional
	url = https://github.com/rodrigoo-r/optional.git
[submodule "include/fluent/heap_guard"]
	path = include/fluent/heap_guard
	url = https://github.com/rodrigoo-r/heap_guard.git
[submodule "include/fluent/cli"]
	path = include/fluent/cli
	url = https://github.com/rodrigoo-r/cli.git
[submodule "include/fluent/str_pad"]
	path = include/fluent/str_pad
	url = https://github.com/rodrigoo-r//str_pad.git
[submodule "include/fluent/arena"]
	path = include/fluent/arena
	url = https://github.com/rodrigoo-r/arena.git
[submodule "include/fluent/pair"]
	path = include/fluent/pair
	url = https://github.com/rodrigoo-r/pair.git
[submodule "include/fluent/clock"]
	path = include/fluent/clock
	url = https://github.com/rodrigoo-r//clock.git
[submodule "include/fluent/str_conv"]
	path = include/fluent/str_conv
	url = https://github.com/rodrigoo-r/str_conv.git
[submodule "include/fluent/std_math"]
	path = include/fluent/std_math
	url = https://github.com/rodrigoo-r/std_math.git
[submodule "include/fluent/path"]
	path = include/fluent/path
	url = https://github.com/rodrigoo-r/path.git
[submodule "include/fluent/ansi"]
	path = include/fluent/ansi
	url = https://github.com/rodrigoo-r/ansi.git
